h1{
  font-weight:bold; 
  font-size:36px; 
}
  
  h3{
    font-size:24px;
  }
  
.header{
  font-style:italic;
}

.header::first-letter {
  color:#007BFF;
  font-size:68px;
  font-family:New York Times;
}
/* .sidebar{
  width: 200px;
  height:1200px;
  background-color: yellow;
}
 */
span{
  text-align:left;
}

#logo{
  float:left;
/*   border: 1px solid black; */
}

input[type=text] {
    padding:2px;  
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    border-radius:5px;
}

button{
  margin-bottom:25px;
  margin-top:5px;
  background-color:blue;
  color:white;
  cursor: pointer;

}
button:hover {
    background: #0b7dda;
}

a{
  color:purple;
}

.block{
  border-style:solid;
  width: 600px;
  margin-left:360px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

body{
  margin:40px;
} 







